@(myForm: Form[AdminSignInForm])
@import helper._
@adminmain("Please login") {
    <div class="pure-u-1-3"></div>
    <div class="pure-u-1-3 i-box">

        @if(flash.contains("error")){
        <p class="error-a">
            @flash.get("error")
        </p>
        }
        @if(flash.contains("success")){
        <p class="success-a">
            @flash.get("success")
        </p>
        }
        @if(flash.contains("info")){
        <p class="info-a">
            @flash.get("info")
        </p>
        }
        @helper.form(action = routes.Admin.login, 'class -> "pure-form pure-form-stacked"){

            <fieldset>
                <legend>A Login Form</legend>

                <label for="emailAddress">Email</label>
                <input id="emailAddress" name="emailAddress" type="email" placeholder="Email">

                <label for="passWord">Password</label>
                <input id="passWord" name="passWord" type="password" placeholder="Password">

                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
        }
    </div>
    <div class="pure-u-1-3"></div>

}